<ng-container *ngIf="category">
  <h2>{{category.title}}</h2>
  <p>{{category.description}}</p>
  <section>
    <h3>Secciones</h3>
    <ul>
      <li *ngFor="let subcategory of category.categories">
        <a [routerLink]="'/galeria/' + subcategory.id">
          <img src="{{subcategory.image('sm')}}"/>
          <div>
            <span>{{subcategory.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Videos</h3>
    <ul>
      <li *ngFor="let video of category.videos"
          (click)="loadVideo(video.id)">
        <a [routerLink]="'/galeria/' + category_id + '/video/' + video.id">
          <img src="{{video.image('sm')}}"/>
          <div>
            <span>{{video.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Fotografías</h3>
    <ul>
      <li *ngFor="let picture of category.pictures"
          (click)="loadPicture(picture.id)">
        <a [routerLink]="'/galeria/' + category_id + '/foto/' + picture.id">
          <img src="{{picture.image('sm')}}"/>
          <div>
            <span>{{picture.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <h3>Directorio</h3>
    <ul>
      <li *ngFor="let directory of category.directories"
          (click)="loadDirectory(directory.id)">
        <a [routerLink]="'/galeria/' + category_id + '/directory/' + directory.id">
          <img src="{{directory.image('sm')}}"/>
          <div>
            <span>{{directory.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
</ng-container>
