<app-action-bar [title]="category?.title"></app-action-bar>

<FlexboxLayout class="container"  *ngIf="category">
  <ScrollView  orientation="horizontal">
    <FlexboxLayout class="pictures">
      <Image *ngFor="let pic of category?.pictures"
        (tap)="select(pic)"
        [src]="pic.imageUrl('xs')"></Image>
    </FlexboxLayout>
  </ScrollView>

  <Pager [items]="category?.pictures" #pager
         [selectedIndex]="index"
         (selectedIndexChanged)="changeRoutePicture($event)" class="pager">
    <ng-template let-i="index" let-picture="item">
      <GridLayout class="pager-item" rows="auto, *" columns="*" >
        <Label [text]="picture.title"></Label>
        <ImageZoom loadMode="async"
                   [src]="picture.imageUrl('xlg')"
                   maxZoom="5"
                   minZoom="1"></ImageZoom>
        <!--
        <Image row="1" [src]="picture.imageUrl('xlg')"></Image>
        -->
      </GridLayout>
    </ng-template>
  </Pager>

  <!--
  <ImageZoom *ngIf="picture1"
             loadMode="async"
             (swipe)="onSwipe($event)"
             [src]="picture1.imageUrl('xlg')"
             maxZoom="5"
             minZoom="1"></ImageZoom>
  <ImageZoom *ngIf="picture2"
             loadMode="async"
             (swipe)="onSwipe($event)"
             [src]="picture2.imageUrl('xlg')"
             maxZoom="5"
             minZoom="1"></ImageZoom>
-->
</FlexboxLayout>
