@import "../../../_vars.scss";

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  .pictures{
    height: 100;
    Image{
      margin: 5;

      &.active{
        border-color: $primary;
        border-width: 0 0 2 0;
      }
    }
  }

  ImageZoom{
    flex: 1;
    height: 100%;
  }
}

.title{
  background-color: rgba(0,0,0, .5);
  position: absolute;
  bottom: 0;
}
