<app-action-bar [title]="category?.title"></app-action-bar>

<GridLayout class="container" [height]="deviceHeight"
            rows="auto, *" columns="*"
             *ngIf="category">
  <RadListView #listView row="0" col="0" class="pictures" [items]="category?.pictures">
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"
                          itemInsertAnimation="Default"
                          itemDeleteAnimation="Default"></ListViewLinearLayout>
    <ng-template tkListItemTemplate let-pic="item" let-i="index">
      <FlexboxLayout (tap)="select(pic)"
                     class="item list-group-item">
        <WebImage *ngIf="pic?.image_code" stretch="aspectFill"
                  [class.active]="index === i"
                  placeholder="~/assets/images/Spinner-1s-200px.gif"
                  [src]="pic?.imageUrl('xs')">
        </WebImage>
      </FlexboxLayout>
    </ng-template>
  </RadListView>
  <ScrollView row="1" col="0">
    <StackLayout>
      <Pager [height]="deviceHeight - 120" [items]="category?.pictures" #pager
             [selectedIndex]="index"
             (selectedIndexChange)="selectedIndexChange($event)" class="pager">
        <ng-template let-i="index" let-picture="item">
          <StackLayout>
            <AbsoluteLayout class="pager-item">
              <Label class="title" [text]="picture.title"></Label>

              <ImageZoom loadMode="async"
                         [src]="picture.imageUrl('lg')"
                         maxZoom="5"
                         minZoom="1"></ImageZoom>
            </AbsoluteLayout>
          </StackLayout>

        </ng-template>
      </Pager>
      <HtmlView *ngIf="currentPicture"
                [html]="currentPicture.description"></HtmlView>
    </StackLayout>
  </ScrollView>

</GridLayout>
