@import "../../../_vars.scss";
.main-container{

}

.container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  .pictures{
    height: 100;
    Image{
      margin: 5;

      &.active{
        border-color: $primary;
        border-width: 0 0 2 0;
      }
    }
  }

  Pager{
    flex: 1;
    height: 100%;
    min-height: 100%;

    ImageZoom{
      flex: 1;
      height: 100%;
      width: 100%;
    }

    Label{
      width: 100%;
    }

    Button{
      top: 20;
    }

    ImageZoom{
      top: 0;
      left: 0;
    }
  }
  AbsoluteLayout{
    height: 100%;
  }

}


HtmlView{
  flex: 0;
  padding: 10;
  margin: 10;
}
