<app-action-bar [title]="category?.title"></app-action-bar>

<ScrollView>
  <StackLayout class="main-container">
    <FlexboxLayout [height]="deviceHeight" class="container" *ngIf="category">
      <ScrollView #scrollView orientation="horizontal">
        <FlexboxLayout class="pictures">
          <Image #thumb *ngFor="let pic of category?.pictures; let i = index"
                 [class.active]="index === i"
                 (tap)="select(pic)"
                 [src]="pic.imageUrl('xs')"></Image>
        </FlexboxLayout>
      </ScrollView>

      <Pager height="100%" [items]="category?.pictures" #pager
             [selectedIndex]="index"
             (selectedIndexChange)="selectedIndexChange($event)" class="pager">
        <ng-template let-i="index" let-picture="item">
          <StackLayout>
            <AbsoluteLayout class="pager-item">
              <Label class="title" [text]="picture.title"></Label>
              <Button (tap)="share()" text="Share">
                <FormattedString>
                  <Span class="mdi" [text]="'mdi-share' | fonticon"></Span>
                </FormattedString>
              </Button>
              <ImageZoom loadMode="async"
                         [src]="picture.imageUrl('xlg')"
                         maxZoom="5"
                         minZoom="1"></ImageZoom>
            </AbsoluteLayout>
          </StackLayout>

        </ng-template>
      </Pager>
    </FlexboxLayout>
    <HtmlView *ngIf="currentPicture"
              [html]="currentPicture.description"></HtmlView>
  </StackLayout>

</ScrollView>
