<Page>
    <RadSideDrawer tkExampleTitle tkToggleNavButton>
        <StackLayout tkDrawerContent class="sideStackLayout">
            <StackLayout class="sideTitleStackLayout">
                <Label text="Calvillo.com.mx"></Label>
            </StackLayout>
            <StackLayout class="sideStackLayout">
               <app-nav-pages></app-nav-pages>

            </StackLayout>
        </StackLayout>
        <StackLayout tkMainContent>


            <page-router-outlet></page-router-outlet>
        </StackLayout>
    </RadSideDrawer>
</Page>


<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
