@import "../../../../_vars.scss";

FlexboxLayout{
  .label{
    flex: 1;
    margin-right: 10;
    font-weight: bold;
  }

  Label:last-child{
    flex: 4;
  }
}

StackLayout.elements{
  padding: 5;
  FlexboxLayout{
    margin-top: 5;
  }
}
