<StackLayout *ngIf="directory" class="main">
  <WebImage *ngIf="directory.image_code" stretch="aspectFill"
            placeholder="~/assets/images/Spinner-1s-200px.gif"
            [src]="directory.imageUrl('xs')">
  </WebImage>
  <TabView [(ngModel)]="tabSelectedIndex"
           selectedColor="#FF0000"
           iosIconRenderingMode="alwaysOriginal">
    <ScrollView *tabItem="{title: 'Información'}">
      <app-directory-data [directory]="directory"></app-directory-data>
    </ScrollView>

    <ng-container *ngIf="directory.longitude && directory.latitude">
      <StackLayout *tabItem="{title: 'Ubicación'}">
        <MapView #mapView [latitude]="directory.latitude"
                 [longitude]="directory.longitude"
                 zoom="11"
                 (mapReady)="onMapReady($event)"></MapView>
      </StackLayout>
    </ng-container>
  </TabView>
</StackLayout>

