@import "../../../../_vars.scss";


.main{
  orientation: vertical;
  WebImage{
    height: 200;
  }
}

::ng-deep .landscape .main{
  orientation: horizontal;

  WebImage{
    height: auto;
    width: 200;
    padding: 20;
  }
}

