<ng-container [formGroup]="picture">
  <section class="picture-container">
    <picture *ngIf="picture.get('src').value"
             [ngStyle]="{
                    'background-image' : 'url('+picture.get('src').value+')'
                  }"></picture>
  </section>

  <section [hidden]="uploading" class="picture-form">
    <mat-input-container>
      <input matInput required formControlName="title"
             placeholder="Título"/>
    </mat-input-container>

    <mat-input-container>
      <input matInput formControlName="link"
             placeholder="Titulo para enlace"/>
      <mat-hint *ngIf="picture.get('linkUsed').value" class="error">
        El link esta siendo utilizado, cambielo por otro
      </mat-hint>
    </mat-input-container>

    <mat-input-container>
      <input matInput formControlName="description"
             placeholder="Descripción"/>
    </mat-input-container>

    <section class="coordinates">
      <a class="map" (click)="coordsRequested.emit(picture)">
        <i class="fa fa-map-marker"></i>
      </a>
      <mat-input-container>
        <input matInput type="number" step=".0000001" formControlName="latitude"
               placeholder="Latitud">
        <mat-hint align="end">adsdsds</mat-hint>

      </mat-input-container>
      <mat-input-container>
        <input matInput type="number"
               formControlName="longitude"
               placeholder="Longitud">
      </mat-input-container>
    </section>

    <owl-date-time formControlName="taken_at"></owl-date-time>

    <mat-form-field>
      <mat-select formControlName="categories" placeholder="Categorias"
                  [multiple]="true">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.category ? category.category.title : ''}}
          / {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section class="lock" [class.uploading]="uploading">
    <mat-spinner></mat-spinner>
  </section>
</ng-container>
