picture {
  flex: 0 0 auto;
  width: 3em;
  min-height: 3em;
  align-self: stretch;
  background-size: cover;
  background-position: center;
  margin-right: .2em;
  display: flex;
  align-items: flex-end;

  i {
    font-size: 1em;
    margin: .1em;
    text-shadow: 1px 1px 5px #666;
  }
}
