<header *ngIf="category">
  <h1>
    <a routerLink="../">
      <i class="fa fa-caret-up" aria-hidden="true"></i>
    </a>
    {{category.title}}
  </h1>
</header>

<section class="list" #list
         (swipeleft)="nextPage()"
         (swiperight)="prevPage()">
  <div class="prev"
       *ngIf="!isFirstPage"
       (click)="prevPage()">
    <i class="fa fa-caret-left" aria-hidden="true"></i>
  </div>

  <ul *ngIf="category && category.pictures.length">
    <ng-container *ngFor="let picture of category.pictures; let i = index;">
      <li *ngIf="indexInPage(i)">
        <a [routerLink]="'/galeria/' + category_id + '/foto/' + picture.id">
          <picture
            [ngStyle]="{'background-image':  'url(' + picture.imageUrl('xs') + ')'}">
          </picture>
        </a>
      </li>
    </ng-container>
  </ul>

  <div class="next"
       *ngIf="!isLastPage"
       (click)="nextPage()">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </div>
</section>

<section *ngIf="picture" class="picture"
         (swipeleft)="onSwipeLeft($event.type)"
         (swiperight)="onSwipeRight($event.type)"
>

  <div class="prev"
       *ngIf="!isFirstPicture"
       (click)="prevPicture()">
    <i class="fa fa-caret-left" aria-hidden="true"></i>
  </div>

  <ng-container *ngFor="let selectedPicture of pictureTail">
    <picture [@picture]="selectedPicture.state"
             [ngStyle]="{'background-image':  'url(' + selectedPicture.picture.imageUrl(imgSize) + ')'}">
    </picture>
  </ng-container>

  <div class="wrapper"></div>
  <div class="next"
       *ngIf="!isLastPicture"
       (click)="nextPicture()">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </div>

</section>

<div *ngIf="picture" class="description">
  <header>
    <h1>
      {{picture.title}}
      <a class="map"
         *ngIf="picture.longitude && picture.latitude"
         (click)="openMapModal()">
        <i class="fa fa-map-marker"></i>
      </a>
    </h1>
    <time>{{picture.taken_at | date: 'short'}}</time>
  </header>
  <div class="content" [innerHTML]="picture.description">
  </div>
</div>

<router-outlet></router-outlet>


<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"
       *ngIf="picture && picture.longitude && picture.latitude">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          {{picture.title}}
        </h4>
        <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <sebm-google-map *ngIf="!hiddenMap"
                         [latitude]="picture.latitude"
                         [longitude]="picture.longitude"
                         [zoom]="19">
          <sebm-google-map-marker
            [latitude]="picture.latitude"
            [longitude]="picture.longitude"
            [label]="picture.title"
          >
          </sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>
</div>

