<div class="top">
  <header *ngIf="category" class="category">
    <app-back-button routerLink="../">
    </app-back-button>
    <h1>
      {{category.title}}
    </h1>
  </header>

  <section class="list" #list
           (swipeleft)="nextPage()"
           (swiperight)="prevPage()">
    <div class="prev"
         *ngIf="!isFirstPage"
         (click)="prevPage()">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </div>

    <ul *ngIf="category && category.pictures.length">
      <ng-container
        *ngFor="let pictureList of category.pictures; let i = index;">
        <li *ngIf="indexInPage(i)"
            [matTooltip]="pictureList.title">
          <a [routerLink]="pictureList.getRouterLink(category)"
             [routerLinkActive]="['active']">
            <picture
              [ngStyle]="{'background-image':  'url(' + pictureList.imageUrl('xs') + ')'}">
            </picture>
          </a>
        </li>
      </ng-container>
    </ul>

    <div class="next"
         *ngIf="!isLastPage"
         (click)="nextPage()">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </div>
  </section>
</div>

<section *ngIf="picture" class="picture"
         (swipeleft)="onSwipeLeft($event.type)"
         (swiperight)="onSwipeRight($event.type)"
>

  <div class="prev"
       *ngIf="!isFirstPicture"
       (click)="prevPicture()">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  </div>

  <ng-container *ngFor="let selectedPicture of pictureTail">
    <picture [@picture]="selectedPicture.state"
             [ngStyle]="{'background-image':  'url(' + selectedPicture.picture.imageUrl(imgSize) + ')'}">
    </picture>
  </ng-container>

  <div class="wrapper"></div>
  <div class="next"
       *ngIf="!isLastPicture"
       (click)="nextPicture()">
    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>

</section>


<div *ngIf="finished" class="finished" [@picture]="'active'">
  <span>
    Has terminado de ver <b>{{category.title}}</b>
    <br>
    Si te ha gustado, ¡Comparte!
  </span>

  <share-buttons *ngIf="currentRoute && isBrowser()"
                 theme="circles-dark"
                 [size]="-4"
                 [url]="'http://calvillo.com.mx' + category.routerLink"
  ></share-buttons>

  <div>
    También podría gustarte
    <div class="related-categories">
      <app-category-thumbnail
        *ngFor="let category of category.related_categories"
        [category]="category"
      ></app-category-thumbnail>
    </div>
  </div>

  <ng2-adsense *ngIf="adSenseEnabled && isBrowser()"
               class="adsbygoogle"
               adSlot="9176120862"></ng2-adsense>

  <div class="facebook-page">
    <span>
          Da like a nuestro facebook para recibir notificaciones de nuevo contenido :)
    </span>
    <fb-page href="https://www.facebook.com/calvillo.com.mx/"></fb-page>
  </div>

  <a (click)="finished = false" class="back-to-gallery">
    <i class="fa fa-undo" aria-hidden="true"></i>
    Volver a la <br>
    galería
  </a>
</div>

<div *ngIf="picture" class="description"
     (swipeleft)="onSwipeLeft($event.type)"
     (swiperight)="onSwipeRight($event.type)">

  <header>
    <h2>
      {{picture.title}}
      <a class="map"
         *ngIf="picture.longitude && picture.latitude"
         (click)="openMapModal()">
        <i class="fa fa-map-marker"></i>
      </a>
      <button *appIfLogged="true" (click)="postOnFacebook()"
              mat-raised-button
              color="primary">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> Post
      </button>

      <ng-container *ngIf="currentRoute && isBrowser()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="fa fa-share-alt"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <share-button [size]="-4"
                        [url]="'http://calvillo.com.mx' + currentRoute"
                        button="facebook"
          ></share-button>
          <share-button [size]="-4"
                        [url]="'http://calvillo.com.mx' + currentRoute"
                        button="twitter"
          ></share-button>
          <share-button [size]="-4"
                        [url]="'http://calvillo.com.mx' + currentRoute"
                        button="pinterest"
          ></share-button>
        </mat-menu>
      </ng-container>
    </h2>
    <time>{{picture.taken_at | date: 'short'}}</time>
  </header>

  <ng2-adsense *ngIf="adSenseEnabled && isBrowser()"
               class="adsbygoogle"
               adSlot="9176120862"></ng2-adsense>
  <div class="content" [innerHTML]="picture.description">
  </div>
</div>

<router-outlet></router-outlet>
