<section class="list" #list
         (swipeleft)="nextPage()"
         (swiperight)="prevPage()">
  <div class="prev"
       *ngIf="!isFirstPage"
       (click)="prevPage()">
    <i class="fa fa-caret-left" aria-hidden="true"></i>
  </div>

  <ul *ngIf="category && category.pictures.length">
    <ng-container *ngFor="let pictureList of category.pictures; let i = index;">
      <li *ngIf="indexInPage(i)"
          [matTooltip]="pictureList.title">
        <a [routerLink]="pictureList.getRouterLink(category)"
           [routerLinkActive]="['active']">
          <picture
            [ngStyle]="{'background-image':  'url(' + pictureList.imageUrl('xs') + ')'}">
          </picture>
        </a>
      </li>
    </ng-container>
  </ul>

  <div class="next"
       *ngIf="!isLastPage"
       (click)="nextPage()">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </div>
</section>

<section *ngIf="picture" class="picture"
         (swipeleft)="onSwipeLeft($event.type)"
         (swiperight)="onSwipeRight($event.type)"
>
  <header *ngIf="category">
    <h1>
      <a routerLink="../">
        <i class="fa fa-undo" aria-hidden="true"></i>
      </a>
      {{category.title}}
    </h1>
  </header>
  <div class="prev"
       *ngIf="!isFirstPicture"
       (click)="prevPicture()">
    <i class="fa fa-caret-left" aria-hidden="true"></i>
  </div>

  <ng-container *ngFor="let selectedPicture of pictureTail">
    <picture [@picture]="selectedPicture.state"
             [ngStyle]="{'background-image':  'url(' + selectedPicture.picture.imageUrl(imgSize) + ')'}">
    </picture>
  </ng-container>

  <div class="wrapper"></div>
  <div class="next"
       *ngIf="!isLastPicture"
       (click)="nextPicture()">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
  </div>

</section>

<div *ngIf="picture" class="description"
     (swipeleft)="onSwipeLeft($event.type)"
     (swiperight)="onSwipeRight($event.type)">
  <header>
    <h1>
      {{picture.title}}
      <a class="map"
         *ngIf="picture.longitude && picture.latitude"
         (click)="openMapModal()">
        <i class="fa fa-map-marker"></i>
      </a>
      <button *appIfLogged="true" (click)="postOnFacebook()" mat-raised-button color="primary">
        <i class="fa fa-facebook-official" aria-hidden="true"></i> Post
      </button>
    </h1>

    <share-buttons theme="circles"
                   [include]="['facebook','twitter','pinterest','google']"
                   [show]="5"
                   [showCount]="true"
                   [size]="2"
                   [url]="currentRoute"
    ></share-buttons>
    <time>{{picture.taken_at | date: 'short'}}</time>
  </header>
  <ng2-adsense *ngIf="adSenseEnabled"></ng2-adsense>
  <div class="content" [innerHTML]="picture.description">
  </div>
</div>

<router-outlet></router-outlet>
