<h4 mat-dialog-title>
  Crear álbum
  <button class="button-close" mat-dialog-close>
    <i class="fa fa-times"></i>
  </button>
</h4>
<button type="button" class="corner" mat-dialog-close>
  <span aria-hidden="true">&times;</span>
</button>
<mat-dialog-content>
  <form [formGroup]="form"
        id="category-form" (submit)="submit()">
    <mat-form-field>
      <input matInput formControlName="title"
             placeholder="Título">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="link"
             placeholder="Titulo para enlace">
      <mat-error *ngIf="form.get('link').hasError('linkUsed')">
        El link esta siendo utilizado, cambielo por otro
      </mat-error>
      <mat-error *ngIf="form.get('link').hasError('slug')">
        El formato del link es inválido. Ejemplo mi-foto-1
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description"
             placeholder="Descripción"  >
      <mat-error *ngIf="form.get('description').hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="category_id" placeholder="Albumes">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.category ? category.category.title : ''}}
          / {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <input class="input-picture" imageUpload
           (imageSelected)="selected($event)"
           accept="image/*" name="picture" type="file">
    <picture *ngIf="form.get('src')" [ngStyle]="{
      'background-image' : 'url('+form.get('src').value+')'
    }">
    </picture>

    <mat-error *ngIf="form.get('src').hasError('required')">
      Es indispensable una imagen
    </mat-error>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button form="category-form">Subir álbum</button>
</mat-dialog-actions>
