<h4 md-dialog-title>
  Crear álbum
  <button class="button-close" md-dialog-close>
    <i class="fa fa-times"></i>
  </button>
</h4>
<button type="button" class="corner" md-dialog-close>
  <span aria-hidden="true">&times;</span>
</button>
<md-dialog-content>
  <form [formGroup]="form"
        id="category-form" (submit)="submit()">
    <md-input-container>
      <input mdInput formControlName="title"
             placeholder="Título">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="link"
             placeholder="Titulo para enlace">
    </md-input-container>
    <md-input-container>
      <input mdInput formControlName="description"
             placeholder="Descripción"  >
    </md-input-container>
    <input class="input-picture" imageUpload
           (imageSelected)="selected($event)"
           accept="image/*" name="picture" type="file">
    <picture *ngIf="form.get('src')" [ngStyle]="{
      'background-image' : 'url('+form.get('src').value+')'
    }">
    </picture>
  </form>

</md-dialog-content>

<md-dialog-actions>
  <button md-raised-button form="category-form">Subir álbum</button>
</md-dialog-actions>
