<div class="directory-bar">
  <ng-container *ngFor="let category of categories | async">
    <button mat-button [matMenuTriggerFor]="menu">
      <app-image [model]="category"></app-image>
      <span>{{category.title}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              *ngFor="let directory of category.directories"
              (click)="selectDirectory(directory)">
        <app-image [model]="directory"></app-image>
        <span>{{directory.title}}</span>
      </button>
    </mat-menu>
  </ng-container>
</div>

<agm-map [latitude]="latitudeMap"
         [longitude]="longitudeMap"
         [zoom]="zoomMap">

  <agm-marker
    *ngFor="let directory of directories"
    [label]="directory.title"
    [openInfoWindow]="true"
    [latitude]="directory.latitude"
    [longitude]="directory.longitude" >
    <agm-info-window>
      <app-directory [directory]="directory"
                     [showMap]="map"
                     [showExpanded]="true"></app-directory>
    </agm-info-window>
  </agm-marker>
</agm-map>
<ng2-adsense *ngIf="adSenseEnabled"></ng2-adsense>
