@import "src/app/vars";

:host{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: $contentHeight;

  app-directory{
    background-color: transparent;
  }

}

agm-map{
  height: $contentHeight;
  width: 100%;
}

