@import 'src/app/vars';

.first {
  height: 125vh;
  @media (min-width: $smScreen) {
    height: 100vh;
  }

  .background {
    width: 100%;
    height: 100%;
    background: url("/assets/contact-background.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;

  }

  .fore {
    display: flex;
    flex-direction: column;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      flex: 1 0 auto;

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(white, .75);
        padding: 1em;
        > div {
          margin-bottom: 1em;
          a {
            font-size: 3em;
            padding: .25em;
            .fa-facebook-official {
              color: #3b5998;
              margin-top: -.5em;
            }
          }
        }
      }
    }

    .ad {
      flex: 1 0 auto;
      padding-top: 1em;
    }

  }
}

.cta {
  font-size: .4em;
}
