
<div class="parallax">
  <section class="first parallax-group">
    <div class="parallax-layer back">
      <div class="background"> </div>
    </div>
    <div class="parallax-layer fore">
      <div class="wrapper">
        <div class="text">
        <span>
            Contáctanos através de nuestro
        </span>
          <a href="https://www.facebook.com/calvillo.com.mx" target="_blank">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
        </div>
        <fb-page href="https://www.facebook.com/calvillo.com.mx/"
                 tabs="timeline"></fb-page>
      </div>
      <div class="ad">
        <ng2-adsense *ngIf="adSenseEnabled"></ng2-adsense>
      </div>
    </div>
  </section>
</div>
