<h4 mat-dialog-title>
  Post on facebook
</h4>

<mat-dialog-content>
  <div *ngIf="!exist_token">
    Para poder postear en facebook vaya <a (click)="close()" routerLink="/cuenta">Cuenta</a>
    para ligar su cuenta
  </div>
  <form *ngIf="exist_token" (submit)="submit()">
    <mat-input-container>
      <input matInput placeholder="Mensaje" [(ngModel)]="message" name="message">
    </mat-input-container>
    <mat-checkbox [(ngModel)]="delay" name="delay">
      Posponer publicación
    </mat-checkbox>

    <owl-date-time *ngIf="delay" name="scheduled_publish_time"
                   [(ngModel)]="scheduled_publish_time"></owl-date-time>



    <button mat-raised-button color="primary">
      Postear!
    </button>
  </form>

  <a *ngIf="linkToFacebookPublication" [href]="linkToFacebookPublication" target="_blank">
    Link a la publicación en facebook
  </a>
</mat-dialog-content>
