@import 'src/app/vars';

a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: $arrowBackgroundColor;
  padding: .2em .1em .1em .2em;
  text-align: center;
  -moz-border-radius-bottomright: .2em;

  i {
    font-size: .8em;
  }

  span {
    font-size: .4em;
  }

  &:visited {
    color: white;
  }
}
