.header-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

md-card{
  margin-bottom: 1em;
}

.remove {
  position: absolute;
  left: 0;
  top: 0;
  margin: .25em;
}
