<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Subir fotografías
        </h4>
        <button type="button" class="close pull-right" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <section class="header-form">
          <md-checkbox [(ngModel)]="takeTitleFromFiles">
            Obtener título de archivo
          </md-checkbox>
          <input class="input-picture"
                 image-upload (imageSelected)="selected($event)"
                 accept="image/*" name="picture" type="file" multiple>
        </section>
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
          <div formArrayName="pictures">
            <md-card *ngFor="let picture of formArray.controls; let i=index"
                     [formGroupName]="i"
                     class="picture-form-container">
              <section class="lock" [class.uploading]="i === currentUploadingPicture && uploading">
                <md-spinner></md-spinner>
              </section>

              <section class="picture-container">
                <button md-mini-fab (click)="remove(picture)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <picture *ngIf="picture.get('src').value" [ngStyle]="{
                  'background-image' : 'url('+picture.get('src').value+')'
                }"></picture>
              </section>

              <section class="picture-form">
                <md-input-container>
                  <input mdInput required formControlName="title"
                         placeholder="Título"/>
                </md-input-container>

                <md-input-container>
                  <input mdInput formControlName="link"
                         placeholder="Titulo para enlace"/>
                  <md-hint *ngIf="picture.get('linkUsed').value" class="error">
                    El link esta siendo utilizado, cambielo por otro
                  </md-hint>
                </md-input-container>

                <md-input-container>
                  <input mdInput formControlName="description"
                         placeholder="Descripción"/>
                </md-input-container>

                <section class="coordinates">
                  <a class="map" (click)="openMapModal(picture)">
                    <i class="fa fa-map-marker"></i>
                  </a>
                  <md-input-container>
                    <input mdInput type="number" step=".0000001" formControlName="latitude"
                           placeholder="Latitud">
                    <md-hint align="end">adsdsds</md-hint>

                  </md-input-container>
                  <md-input-container>
                    <input mdInput type="number"
                           formControlName="longitude"
                           placeholder="Longitud">
                  </md-input-container>
                </section>
                <md-input-container>
                  <input [value]="picture.get('taken_at').value | date: 'short'"
                         mode="popup" mdInput readonly
                         [dateTimePicker]="picture.get('taken_at').value"
                         (dateTimePickerChange)="picture.patchValue({taken_at: $event})"
                         placeholder="Fecha en la que fue tomada"/>
                </md-input-container>
              </section>
            </md-card>
          </div>

          <button md-button >Subir fotografías</button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-select-from-map-modal (closed)="setCoordinates($event)"></app-select-from-map-modal>
