<SearchBar [hint]="placeholder"
           [class.searched]="results?.length"
           [formControl]="formControl"
           (loaded)="sbLoaded($event)"
           (clear)="clear()"
           (submit)="onSubmit($event)"></SearchBar>
<ActivityIndicator *ngIf="loading" busy="true">
</ActivityIndicator>

<TextView *ngIf="!loading && results && !results.length" text="No hay resultados, intenta con otras palabras">
</TextView>

<GridLayout  *ngIf="results?.length">
  <ListView row="1" [items]="results"
            [iosEstimatedRowHeight]="0"
            (itemTap)="onTap($event)"
            [itemTemplateSelector]="getType" class="list-group">
    <ng-template nsTemplateKey="directory" let-directory="item">
      <FlexboxLayout class="item list-group-item">
        <WebImage *ngIf="directory.image_code" stretch="aspectFill"
                  placeholder="~/assets/images/Spinner-1s-200px.gif"
                  [src]="directory.imageUrl('xs')">
        </WebImage>
        <Label [text]="directory.title" class="list-group-item-heading"></Label>
      </FlexboxLayout>
    </ng-template>
    <ng-template nsTemplateKey="category" let-category="item">
      <FlexboxLayout class="item list-group-item">
        <WebImage *ngIf="category.image_code" stretch="aspectFill"
                  placeholder="~/assets/images/Spinner-1s-200px.gif"
                  [src]="category.imageUrl('xs')">
        </WebImage>

        <Label [text]="category.title" class="list-group-item-heading"></Label>
      </FlexboxLayout>
    </ng-template>
    <ng-template nsTemplateKey="picture" let-picture="item">
      <FlexboxLayout class="item list-group-item">
        <WebImage *ngIf="picture.image_code" stretch="aspectFill"
                  placeholder="~/assets/images/Spinner-1s-200px.gif"
                  [src]="picture.imageUrl('xs')">
        </WebImage>
        <Label [text]="picture.title" class="list-group-item-heading"></Label>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</GridLayout>
