
SearchBar{
  background-color: white;
  margin-bottom: 200;
  margin-top: 10;
  height: 50;
}

.searched{
  margin-bottom: 10;
}

FlexboxLayout{
  flex: 1;
  align-items: center;
  WebImage{
    flex: 0;
    width: 50;
    margin-right: 5;
    height: 40;
  }

  Label{
    flex: 1;
  }
}

GridLayout{
  background-image: url("~/assets/images/landing-page-background-night.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: fit;
}

ListView{
  background-color: white;
}


