@import "../../../../vars.scss";

SearchBar{
  flex: 0;
  background-color: white;
  padding-bottom: 200;
  padding-top: 10;
  margin: 0;
  font-size: 12;
}

TextView{
  background-color: white;
  font-size: 14;
  color: $primary;
  width: 100%;
  text-align: center;
  margin-top: 10;
}

.searched{
  margin-bottom: 10;
  height: 100;
  min-height: 100;
  background-color: white;
}

FlexboxLayout{
  flex: 1;
  align-items: center;

  WebImage{
    flex: 0;
    width: 50;
    margin-right: 5;
    height: 40;
  }

  Label{
    flex: 1;
  }
}

GridLayout{
  background-image: url("~/assets/images/landing-page-background-night.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: fit;
}

ListView{
  background-color: white;
}


ActivityIndicator{
  background-color: white;
  width: 100%;
  margin-top: 10;
}

.loading{
  background-color: white;
}
