@import "../../../_vars.scss";

.categories, .pictures{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section{
  padding: 5;
  margin: 10 0;

  background-color: gray;
  color: white;
}

.top-view{
  height: 250;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.toggle-description{
  top: 218;
  align-items: center;
  padding: 3 10;
  background-color: $primary-dark;
  width: 100%;
  color: white;

  .title{
    flex: 1;
    font-size: 20;
  }
}


.category-data{
  padding: 10;
  margin: 10;
}


.content{
  background-color: white;
}

