@import "../../../_vars.scss";

.categories, .pictures{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section{
  padding: 5;
  margin: 10 0;

  background-color: gray;
  color: white;
}
