<app-action-bar [title]="category?.title"></app-action-bar>
<StackLayout>
  <RadListView *ngIf="results"
               [items]="results"
               #scrollView
               (scroll)="onScroll($event, scrollView, topView)"
               [itemTemplateSelector]="getType">
    <ListViewGridLayout tkListViewLayout
                        scrollDirection='Vertical'
                        spanCount="2"></ListViewGridLayout>
    <ng-template tkListViewHeader >
      <StackLayout class="top-view"
                   [height]="category?.image_code ? 250 : 0"
                   [style.backgroundImage]=" category?.imageUrl('sm')">

        <StackLayout orientation="horizontal">

        </StackLayout>
      </StackLayout>
    </ng-template>

    <ng-template tkTemplateKey="category" let-item="item">
      <FlexboxLayout class="categories">
        <app-category
          [category]="item"></app-category>
      </FlexboxLayout>
    </ng-template>

    <ng-template tkTemplateKey="picture" let-item="item">
      <FlexboxLayout class="pictures">
        <app-picture-item
          [category]="category"
          [picture]="item"></app-picture-item>
      </FlexboxLayout>
    </ng-template>

    <ng-template tkTemplateKey="directory" let-item="item">
      <FlexboxLayout class="directories">
        <app-directory-item
          [category]="category"
          [directory]="item"></app-directory-item>
      </FlexboxLayout>
    </ng-template>
  </RadListView>
</StackLayout>

<!--
<ScrollView class="page" #scrollView
            (scroll)="onScroll($event, scrollView, topView)"
            orientation="vertical">
  <StackLayout>
    <StackLayout #topView
                 class="top-view"
                 [height]="category?.image_code ? 250 : 0"
                 [style.backgroundImage]=" category?.imageUrl('sm')">

      <StackLayout orientation="horizontal">

      </StackLayout>
    </StackLayout>
    <StackLayout class="content">
      <ActivityIndicator *ngIf="loading"
                         [busy]="loading"
                         width="100" height="100"
                         class="activity-indicator"></ActivityIndicator>

    </StackLayout>


  </StackLayout>
</ScrollView>
-->
