<h4 mat-dialog-title>
  Seleccione la ubicación

  <button class="button-close" mat-dialog-close>
    <i class="fa fa-times"></i>
  </button>
</h4>

<agm-map [latitude]="latitudeMap"
         [longitude]="longitudeMap"
         [zoom]="14"
         [mapTypeControl]="true"
         (keyup.enter)="close()"
>
  <agm-marker
    [latitude]="coordinates.latitude"
    [longitude]="coordinates.longitude"
    [markerDraggable]="true"
    (dragEnd)="dragged($event)"
  >
  </agm-marker>
</agm-map>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()">
    Aceptar
  </button>
</mat-dialog-actions>
