$navBarTop: 50px;
$navBarTopMobile: 40px;
$contentHeight: calc(100vh - #{$navBarTop});

$smScreen: 576px;
$mdScreen: 768px;
$lgScreen: 992px;
$xlgScreen: 1200px;

$thumbnail-label-background-color: rgba(#EEE, 1);


$fb-color: #4267b2;
$youtube-color: #db4437;

$navbarBackgroundColor: #F62459;
$navbarBackgroundColorSelected:  darken($navbarBackgroundColor, 10%);

$titleColor: #3f1f01;

$thumbSize: 60px;
$smallThumbSize: 40px;
$thumbMargin: 2px;

$topSpace: $thumbSize + ($thumbMargin * 2);

$titleFontSize: 1.5em;
$subtitleFontSize: 1.5em;

$arrowBackgroundColor: rgba(black, .5);

$imgHeight: 10em;
$imgHeightMobile: 6em;

.thumbnail-label{
  position: absolute;
  bottom: 0;
  padding: .25em;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  line-height: 1em;
  font-weight: bolder;
  opacity: .85;
  color: #333;
  transition: all .5s;
  box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.26);
  background-color: $thumbnail-label-background-color;

  font-size: .8em;

  @media (min-width: $smScreen) {
    font-size: 1em;
  }
}

.gradient-background{
  background-color: #ad6424;
  background-image: url("/assets/images/45-degree-fabric-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

$colorForGradient: #1b3264;
$finalColorForGradient: #0d1424;

$stopForGradient: .9;
.dark-transparent-gradient{
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba($colorForGradient,0) 0%, rgba($colorForGradient,0.55) 5em, rgba($finalColorForGradient, $stopForGradient) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($colorForGradient,0)), color-stop(5em, rgba($colorForGradient,0.65)), color-stop(100%, rgba($finalColorForGradient,$stopForGradient)));
  background: -webkit-linear-gradient(top, rgba($colorForGradient,0) 0%, rgba($colorForGradient,0.65) 5em, rgba($finalColorForGradient,$stopForGradient) 100%);
  background: -o-linear-gradient(top, rgba($colorForGradient,0) 0%, rgba($colorForGradient,0.65) 5em, rgba($finalColorForGradient,$stopForGradient) 100%);
  background: -ms-linear-gradient(top, rgba($colorForGradient,0) 0%, rgba($colorForGradient,0.65) 5em, rgba($finalColorForGradient,$stopForGradient) 100%);
  background: linear-gradient(to bottom, rgba($colorForGradient,0) 0%, rgba($colorForGradient,0.65) 5em, rgba($finalColorForGradient,$stopForGradient) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}


.title-divisor {
  position: relative;

  background-color: rgba($thumbnail-label-background-color, .9);
  padding-left: 10%;
  padding-top: .25em;
  padding-bottom: .25em;
  color: $titleColor;
  box-shadow: 6px 6px 5px -1px rgba($titleColor, .26);
}
