$navBarTop: 35px;

$smScreen: 576px;
$mdScreen: 768px;
$lgScreen: 992px;
$xlgScreen: 1200px;

.thumbnail-label{
  position: absolute;
  bottom: 10%;
  padding: .25em;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  line-height: 1em;
  font-weight: bolder;
  opacity: .85;
  color: #333;
  transition: all .5s;
  box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.26);
  background-color: rgba(#EEE, 1);
}
