<mat-form-field [class.hidden]="hide"
                floatPlaceholder="never"
                [class.app-input-no-underline]="true">
  <span matPrefix *ngIf="alwaysShow">
    <i class="fa fa-search" aria-hidden="true"></i>
  </span>
  <input matInput color="accent" [(ngModel)]="query" #input
         [placeholder]="placeholder" [matAutocomplete]="auto" [formControl]="stateCtrl">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
  <ng-container *ngIf="search | async; let search;" >

    <ng-container *ngFor="let directory of search.directories">
      <mat-option  *ngFor="let category of directory.categories"
                  [value]="directory"
                  (onSelectionChange)="selectedModel(category, directory)">
        <a [routerLink]="directory.getRouterLink(category)">
          <app-image [model]="directory">
            <i aria-hidden="true" class="fa fa-book"></i>
          </app-image>
          <span>
            <span class="category-title">{{category.title }}</span>
            <span>{{ directory.title }}</span>
          </span>
        </a>
      </mat-option>
    </ng-container>

    <mat-option *ngFor="let category of search.categories"
               [value]="category" (onSelectionChange)="selectedCategory(category)">
      <a [routerLink]="category.routerLink">
        <app-image [model]="category">
          <i aria-hidden="true" class="fa fa-folder"></i>
        </app-image>
        <span>
          {{ category.title }}
        </span>
      </a>
    </mat-option>

    <ng-container *ngFor="let picture of search.pictures">
      <mat-option  *ngFor="let category of picture.categories"
                  [value]="picture" (onSelectionChange)="selectedModel(category, picture)">
        <a [routerLink]="picture.getRouterLink(category)">
          <app-image [model]="picture">
            <i aria-hidden="true" class="fa fa-camera"></i>
          </app-image>
          <span>
            <span class="category-title">{{category.title }}</span>
            <span>{{ picture.title }}</span>
          </span>
        </a>
      </mat-option>
    </ng-container>

  </ng-container>
</mat-autocomplete>
<div class="void" *ngIf="hide"></div>
<i *ngIf="!alwaysShow" (click)="toggleHidden()" class="fa fa-search" aria-hidden="true"></i>
