@import "../../../_vars.scss";


.info {
  padding: 10;
  flex-direction: column;

  .field-with-icon {
    vertical-align: center;
  }

  .fa{
    margin: 2;
  }
}

.creators{
  margin-top: 50;
  padding: 5;

  StackLayout.field{
    flex: 1;
    color: white;
    background-color: $thumbnail-label-background-color;
    margin: 0 5;


    >Label{
      padding-left: 20;
      font-weight: bold;
      font-size: 15;
      z-index: 10;
    }

    .bolder{
      font-weight: 900;
    }

    >TextView{
      flex: 1;
      background-color: $thumbnail-label-background-color;
      font-size: 15;
      text-align: left;
      padding-top: 0;
    }

    .link{
      text-decoration: underline;
    }
  }

  .creator{
    background-color: $thumbnail-label-background-color;
    border-radius: 5;
    color: white;
    margin: 5 0;
    padding: 5;

    .header{
      vertical-align: center;
      border-bottom-width: 1;
      border-bottom-color: lighten($thumbnail-label-background-color, 10%);
      margin-bottom: 5;
      .title{
        margin-top: 5;
        margin-left: 3;
        padding: 0;
        font-size: 17;
        background-color: $thumbnail-label-background-color;
        z-index: 10;
      }
      .name{
        font-size: 17;
        font-weight: 900;
        padding-top: 0;
        background-color: $thumbnail-label-background-color;
      }
    }

  }
}


.buttons{
  horizontal-align: right;

  .youtube{
    background-color: $youtube-color;
  }

  .facebook{
    background-color: $fb-color;
  }
}

.fa{
  font-size: 25;
  padding: 10;
  color: white;
  border-radius: 10;
  margin-left: 5;
  margin-right: 5;
  width: 45;
  height: 45;
  text-align: center;
}
