FlexboxLayout{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  paddign: 10;
  background-image: url('~/assets/images/landing-page-background-night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
