@import 'src/app/vars';

app-logo {
  display: none;

  @media (min-width: $smScreen) {
    display: inline-flex;
  }
}

.hide-on-small {
  display: none;

  @media (min-width: $smScreen) {
    display: inherit;
  }
}

app-logo {
  height: 90%;
  ::ng-deep{
    img{
      width: auto !important;
      height: 100%;
    }
  }
  transition: all .5s;

  &.hidden {
    visibility: hidden;
    font-size: 0em;
  }
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  app-search{
    height: 2.5em;
  }
}
