<h3>
  <span>
    <i class="fa fa-folder" aria-hidden="true"></i>
    Álbumes
    <span *appIfLogged="true"
          class="add-button"
          (click)="openCreateCategory(category.id)">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </span>
  </span>
</h3>
<ul>
  <li *ngFor="let subcategory of category.categories">
    <app-category-thumbnail [category]="subcategory"></app-category-thumbnail>
    <button *appIfLogged="true" mat-mini-fab class="remove"
            (click)="remove(subcategory)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button *appIfLogged="true" mat-mini-fab class="edit"
            (click)="edit($event, subcategory)">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </li>
</ul>

<ng-container *appIfLogged="true">
  <h3>
    Álbumes eliminadas
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </h3>
  <ul>
    <li *ngFor="let deletedCategory of category.deleted_categories">
      <app-category-thumbnail [category]="deletedCategory"></app-category-thumbnail>
      <button  mat-mini-fab class="remove"
               (click)="delete(deletedCategory)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <button  mat-mini-fab class="restore"
               (click)="restore(deletedCategory)">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</ng-container>
