@import '~app/vars';

nav{
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex: 1;
  background-color: $navbarBackgroundColor;
  box-shadow: 10px 10px 41px -6px rgba(0,0,0,0.66);
  z-index: 10;
  font-size: 1em;
  height: $navBarTopMobile;

  @media (min-width: $smScreen) {
    height: $navBarTop;
  }

  @media (min-width: $mdScreen) {
    font-size: 1.1em;
  }


  /deep/ ul{
    &.mobile {
      display: inline-flex;
      @media (min-width: $smScreen) {
        display: none;
      }
    }

    &.desktop {
      display: none;

      @media (min-width: $smScreen) {
        display: inline-flex;
      }
    }

    width: 100%;
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    list-style: none;
    align-items: stretch;

    app-logo{
      font-size: .9em;

      @media (min-width: $smScreen) {
        font-size: 1em;
      }
    }

    app-nav-pages{
      display: flex;
      flex: 1;
    }

    li{
      display: flex;
      flex: 0 0 auto;
      text-align: left;
      justify-content: center;
      font-family: Arial;
      font-weight: bolder;
      line-height: 1em;
      align-items: stretch;

      &.title{
        display: flex;
        flex: 1 0 0px;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        transition: all 1s;

        app-logo{
          transition: all 1s;

          &.small{
            font-size: .6em;
            margin-top: 0.5em;
            margin-bottom: .25em;
          }
        }


        .subtitle{
          font-size: .8em;
        }
      }

      &.space{
        display: flex;
        flex: 0 0 2.5em;
      }

      img{
        width: 1.75em;
      }

      a{
        display: flex;
        flex: 1 0 0;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        padding: .5em 1em;
        background-color: $navbarBackgroundColor;

        span{
          padding-left: .25em;
        }

        i {
          margin-right: .25em;
          font-size: 1.2em;

          @media (max-width: 768px) {
            font-size: 1.5em;

            span {
              display: none;
            }
          }
        }

        @media (max-width: 768px) {
          span {
            display: none;
          }
        }

        &:hover, &.active{
          background-color: $navbarBackgroundColorSelected;
          box-shadow: 10px 10px 41px -6px rgba(0,0,0,0.66);
        }
      }

      &.main{
        a{
          padding-left: 1em;
          padding-right: 1em;
        }
      }
    }
  }
}
