<ng-container *ngIf="category">
  <header [ngStyle]="{'background-image':  'url(' + category.image('xlg') + ')'}">
    <div class="gradient"></div>
    <div class="back-category">
      <i class="fa fa-undo" aria-hidden="true"></i>
      <app-category-thumbnail
        [showText]="false" class="fit"
        [category]="category.category"></app-category-thumbnail>
    </div>

    <h1>{{category.title}}</h1>
    <div class="content" [innerHTML]="category.description"></div>

    <share-buttons [url]="'http://calvillo.com.mx' + currRoute"
                   [showCount]="true"
    ></share-buttons>
    <!-- TODO put related gallery -->
  </header>


  <section *ngIf="category.categories.length">
    <h3>
      <i class="fa fa-folder" aria-hidden="true"></i>
      Secciones
    </h3>
    <ul>
      <li *ngFor="let subcategory of category.categories">
        <app-category-thumbnail [category]="subcategory"></app-category-thumbnail>
      </li>
    </ul>
  </section>
  <section *ngIf="category.videos.length">
    <h3>
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      Videos
    </h3>
    <ul>
      <li *ngFor="let video of category.videos"
          (click)="loadVideo(video.id)">
        <a [routerLink]="'/galeria/' + category_id + '/video/' + video.id">
          <img src="{{video.image('sm')}}"/>
          <div>
            <span>{{video.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section *ngIf="category.pictures.length">
    <h3>
      <i class="fa fa-camera" aria-hidden="true"></i>
       Fotografías
    </h3>
    <ul>
      <li *ngFor="let picture of category.pictures"
          (click)="loadPicture(picture.id)">
        <app-picture-thumbnail [category_id]="category_id" [picture]="picture"></app-picture-thumbnail>
      </li>
    </ul>
  </section>
  <section *ngIf="category.directories.length">
    <h3>
      <i class="fa fa-book" aria-hidden="true"></i>
      Directorio
    </h3>
    <ul>
      <li *ngFor="let directory of category.directories"
          (click)="loadDirectory(directory.id)">
        <app-directory [category_id]="category_id" [directory]="directory">
        </app-directory>
      </li>
    </ul>
  </section>
</ng-container>
<router-outlet></router-outlet>
