@import "src/app/vars";

:host{
  text-align: center;
  background-color: rgba(black, .5);

  font-family: Arial;
  display: flex;
  flex-direction: column;
}


section{
  display: flex;
  flex-direction: column;
  background-color: rgba(black, .5);

  h3{
    background-color: rgba(black, .5);
    color: white;
  }

  ul{
    display: flex;
    padding: 1em;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;

    app-picture-thumbnail{
      margin: .5em .25em;
    }

    li{
      display: flex;
      list-style: none;
      position: relative;
      overflow: hidden;
      a{
        margin: .5em .25em;

        img{
          height: 10em;
          transition: all .5s;
        }

        div{
          @extend .thumbnail-label;
        }



        &:hover{
          >img{
            transform: scale(1.75, 1.75) translate(0, 5%);
          }
          >div{
            opacity: 0;
          }
        }

      }

    }
  }
}
