<ng-container *ngIf="category">
  <header [ngStyle]="{'background-image':  'url(' + category.imageUrl('xlg') + ')'}">
    <div class="gradient"></div>
    <div class="back-category">
      <i class="fa fa-undo" aria-hidden="true"></i>
      <app-category-thumbnail
        [showText]="false" class="fit"
        [category]="category.category"></app-category-thumbnail>
    </div>
    <h1>{{category.title}}</h1>

    <div class="content" [innerHTML]="category.description"></div>

    <share-buttons [url]="'http://calvillo.com.mx' + currRoute"
                   [showCount]="true"
    ></share-buttons>
    <!-- TODO put related gallery -->
  </header>
  <section *ngIf="category.categories.length || loggedUser">
    <ng2-adsense *ngIf="adSenseEnabled"></ng2-adsense>
    <h3>
      <i class="fa fa-folder" aria-hidden="true"></i>
      Secciones

      <span *appIfLogged="true"
            class="add-button"
            (click)="categoryModal.open(category.id)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
    </h3>
    <ul>
      <li *ngFor="let subcategory of category.categories">
        <app-category-thumbnail [category]="subcategory"></app-category-thumbnail>
      </li>
    </ul>
  </section>
  <section *ngIf="category.videos.length || loggedUser">
    <h3>
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      Videos
      <span *appIfLogged="true"
            class="add-button"
            (click)="categoryModal.open(category.id)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
    </h3>
    <ul>
      <li *ngFor="let video of category.videos"
          (click)="loadVideo(video.id)">
        <a [routerLink]="'/galeria/' + category_id + '/video/' + video.id">
          <img src="{{video.imageUrl('sm')}}"/>
          <div>
            <span>{{video.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section *ngIf="category.pictures.length || loggedUser">
    <h3>
      <i class="fa fa-camera" aria-hidden="true"></i>
       Fotografías
      <span *appIfLogged="true"
            class="add-button"
            (click)="pictureModal.open(category.id)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
    </h3>
    <ul>
      <li *ngFor="let picture of category.pictures"
          (click)="loadPicture(picture.id)">
        <app-picture-thumbnail [category_id]="category_id" [picture]="picture"></app-picture-thumbnail>
        <button *appIfLogged="true" md-mini-fab class="remove"
                (click)="removePicture(picture)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
    <ng-container *appIfLogged="true">
      <h3>
        Fotografías eliminadas
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </h3>
      <ul>
        <li *ngFor="let picture of category.deleted_pictures">
          <app-picture-thumbnail [category_id]="category_id" [picture]="picture"></app-picture-thumbnail>
          <button  md-mini-fab class="remove"
                   (click)="deletePicture(picture)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <button  md-mini-fab class="restore"
                   (click)="restorePicture(picture)">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </ng-container>

  </section>
  <section *ngIf="category.directories.length || loggedUser">
    <h3>
      <i class="fa fa-book" aria-hidden="true"></i>
      Directorio
      <span *appIfLogged="true"
            class="add-button"
            (click)="categoryModal.open(category.id)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
    </h3>
    <ul>
      <li *ngFor="let directory of category.directories">
        <app-directory [category_id]="category_id" [directory]="directory">
        </app-directory>
      </li>
    </ul>
  </section>
</ng-container>
<router-outlet></router-outlet>

<app-add-category-modal
  (created)="pushCategory($event)"
  #categoryModal></app-add-category-modal>
<app-upload-picture-modal
  (created)="pushPicture($event)"
  #pictureModal></app-upload-picture-modal>
