<ng-container *ngIf="category">
  <header *ngIf="category.image_code"
          [ngStyle]="{'background-image':  'url(' + category.imageUrl('xlg') + ')'}">
    <div class="gradient"></div>

    <h1>
      <a [routerLink]="category.category ? category.category.routerLink: '../'">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      </a>
      {{category.title}}
    </h1>

    <div class="content" [innerHTML]="category.description"></div>

    <share-buttons [url]="'http://calvillo.com.mx' + currRoute"
                   [reddit]="false"
                   [showCount]="true"
    ></share-buttons>
    <!-- TODO put related gallery -->
  </header>
  <section *ngIf="category.categories.length || loggedUser">
    <ng2-adsense *ngIf="adSenseEnabled"></ng2-adsense>
    <app-category-gallery-list [category]="category"></app-category-gallery-list>
  </section>
  <section *ngIf="category.videos.length || loggedUser">
    <h3>
      <span>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        Videos
        <span *appIfLogged="true"
             class="add-button"
             (click)="categoryModal.open(category.id)">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
      </span>
    </h3>
    <ul>
      <li *ngFor="let video of category.videos"
          (click)="loadVideo(video.id)">
        <a [routerLink]="'/galeria/' + category_id + '/video/' + video.id">
          <img src="{{video.imageUrl('sm')}}"/>
          <div>
            <span>{{video.title}}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <section *ngIf="category.pictures.length || loggedUser">
    <app-picture-gallery-list
      [category_id]="category_id"
      [pictures]="category.pictures"
      [deleted_pictures]="category.deleted_pictures"
    ></app-picture-gallery-list>
  </section>
  <section *ngIf="category.directories.length || loggedUser">
    <h3>
      <span>
         <i class="fa fa-book" aria-hidden="true"></i>
        Directorio
        <span *appIfLogged="true"
              class="add-button"
              (click)="categoryModal.open(category.id)">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
      </span>
    </h3>
    <ul>
      <li *ngFor="let directory of category.directories">
        <app-directory [category_id]="category_id" [directory]="directory">
        </app-directory>
      </li>
    </ul>
  </section>
</ng-container>
<router-outlet></router-outlet>
