<h4 mat-dialog-title>
  Crear directorio
  <button class="button-close" mat-dialog-close>
    <i class="fa fa-times"></i>
  </button>
</h4>
<button type="button" class="corner" mat-dialog-close>
  <span aria-hidden="true">&times;</span>
</button>
<mat-dialog-content>
  <form *ngIf="form" [formGroup]="form"
        id="category-form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-select placeholder="Tipo" formControlName="type">
        <mat-option value="business">
          Negocio
        </mat-option>
        <mat-option value="touristic-place">
          Lugar Turístico
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="title"
             placeholder="Título">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="link"
             placeholder="Titulo para enlace">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description"
             placeholder="Descripción">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="address"
             placeholder="Dirección">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email"
             placeholder="Correo electrónico">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="phone"
             placeholder="Teléfono">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="cellphone"
             placeholder="Celular">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="schedule"
             placeholder="Horario">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="website_url"
             placeholder="Url del sitio web">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="youtube_url"
             placeholder="Url de youtube">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="facebook_url"
             placeholder="Url de facebook">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="twitter_url"
             placeholder="Url de twitter">
    </mat-form-field>
    <section class="coordinates">
      <a class="map" (click)="openMapModal()">
        <i class="fa fa-map-marker"></i>
      </a>
      <mat-form-field>
        <input matInput type="number" step=".0000001" formControlName="latitude"
               placeholder="Latitud">
        <mat-hint align="end">adsdsds</mat-hint>

      </mat-form-field>
      <mat-form-field>
        <input matInput type="number"
               formControlName="longitude"
               placeholder="Longitud">
      </mat-form-field>
    </section>
    <mat-form-field>
      <mat-select formControlName="categories" placeholder="Álbumes"
                  [multiple]="true">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.category ? category.category.title : ''}}
          / {{category.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <input class="input-picture" imageToDataUrl
           (imageSelected)="selected($event)"
           accept="image/*" name="picture" type="file">
    <picture *ngIf="form.get('src')" [ngStyle]="{
      'background-image' : 'url('+form.get('src').value+')'
    }">
    </picture>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button form="category-form">Subir directorio</button>
</mat-dialog-actions>
