<FlexboxLayout nsRouterLinkActive
               nsRouterLink="/" (tap)="close()">
  <Label class="mdi" [text]="'mdi-camera-alt' | fonticon"></Label>
  <Label text="Página Principal"
         class="sideLabel"></Label>
</FlexboxLayout>

<FlexboxLayout nsRouterLinkActive
               nsRouterLink="/mapa/" (tap)="close()">
  <Label class="mdi" [text]="'mdi-place' | fonticon"></Label>
  <Label text="Mapa"
         class="sideLabel"></Label>
</FlexboxLayout>

<FlexboxLayout  nsRouterLinkActive
                [nsRouterLink]="['/galeria/', mainCategoryLink]" (tap)="close()">
  <Label class="mdi" [text]="'mdi-camera-alt' | fonticon"></Label>
  <Label text="Galería"
         class="sideLabel"></Label>
</FlexboxLayout>


<FlexboxLayout nsRouterLinkActive
               nsRouterLink="/contacto/" (tap)="close()">
  <Label class="mdi" [text]="'mdi-contact-mail' | fonticon"></Label>
  <Label text="Contacto"
         class="sideLabel sideLightGrayLabel"></Label>
</FlexboxLayout>
