@import "../../../_vars.scss";

Label{
  color: white;
  padding: 7.5;
  font-weight: bold;
}
.active{
  background-color: $primary-light;
}

FlexboxLayout{
  display: flex;
  align-items: center;
  background-color: $primary;

  .mdi, .fa{
    font-size: 25;
  }

  .sideLabel{
    flex: 1;
    font-size: 15;
  }
}
