@import '~app/vars';

section{
  position: relative;
  height: $contentHeight;
}

.gradient{
  width: 100%;
  height: 100%;
  position: absolute;

  $gradientStart: rgba($primaryColor, .04);
  $gradientEnd: rgba($primaryColor, .10);

  background: -moz-linear-gradient(top, $gradientStart 0%, $gradientEnd 100%);
  background: -webkit-linear-gradient(top, $gradientStart 0%, $gradientEnd 100%);
  background: linear-gradient(to bottom, $gradientStart 0%, $gradientEnd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ce2003e', endColorstr='#24e2003e',GradientType=0 );
}


.background{
  width: 100%;
  height: 100%;
  background: url("/assets/landing-page-background-night.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

}

.background2{
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.first{
  display: flex;
  position: relative;

  .magic{
    position:absolute;
    right: 0;
    bottom: 0;
    img{
      width: 5em;
      margin: 1em;
      margin-top: 2em;
    }
  }

  .fore{
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;

    @media (min-width: $mdScreen) {
      flex-direction: row;
    }
    .title {
      display: flex;
      flex-direction: column;
      flex: 10 0 auto;
      align-items: center;
      justify-content: center;
      text-shadow: .2em .2em .8em black;
      font-weight: bold;
      text-align: center;

      app-logo{
        font-size: 1em;
        @media (min-width: $mdScreen) {
          font-size: 2em;
        }


      }

      .greeting{
        font-weight: lighter;
        font-size: 3em;
      }

      mat-form-field{
        background-color: white;
        text-shadow: 0px 0px;
        width: 100%;
        max-width: 600px;
      }

      span{
        font-family: Arial;
        color: white;
        padding: 1em;

        text-align: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @media (min-width: $mdScreen) {
          padding: 0;
        }
      }
    }

  }
}


.social{
  position: absolute;
  right: 0em;
  top: 0em;
  margin: 1em;

  display: flex;
  flex: 0 0 auto;
  padding: .5em;
  align-items: flex-start;
  z-index: 10;
/*
  share-buttons{
    width: auto;
    @media (min-width: $mdScreen) {
      width: 80px;
    }

    /deep/ share-button{
      button{
        font-size: 1.5em;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.8em;
        height: 1.8em;
        padding: 0px;

        .sb-template{
          margin: 0;
        }
      }
    }
  }
  */
}


.second{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 0;

  font-size: .85em;

  max-height: calc(143vh - 50px);
  height: calc(143vh  - 50px);

  @media (min-width: $smScreen) {
    font-size: 1em;
    max-height: calc(110vh - 50px);
    height: calc(110vh  - 50px);
  }

  .fore{
    overflow: hidden;
    h1{
      color: $primaryColor;
      text-align: center;
      font-size: 3em;
    }

    .options{
      text-align: center;
      font-size: 2em;
      span{
        margin-left: 2em;
        margin-right: 2em;
      }
    }


    ul{
      display: flex;
      justify-content: center;
      margin: 3em;
      flex-wrap: wrap;
      padding-right: 10%;
      padding-left: 10%;
      li{
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        flex: 0 0 auto;
        margin: 1em;
        background-color: rgba(white, .5);
        font-size: 2em;
        width: 11em;
        height: 11em;
        transition: all 0.25s;

        > picture{
          background-size: cover;
          background-position: center center;
          flex: 1 0 0;
        }

        > span {
          flex: 0 0 auto;
          background-color: #4E4E4E;
          color: white;
          min-height: 1.5em;
          text-align: center;
          padding-right: 1em;
          padding-left: 1em;
          font-weight: bolder;
          transition: all 0.25s;
        }

        &:hover{
          box-shadow: 0em 0em .5em $primaryColor;

          > span{
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}

.third{
  background-color: $primaryColor;
}
