<div class="parallax">
  <section class="first parallax-group">
    <div class="parallax-layer back">
      <div class="gradient"></div>
      <div class="background"> </div>
    </div>
    <div class="parallax-layer fore">
      <div class="magic">
        <img src="/assets/calvillo-pueblo-magico.png">
      </div>
      <div class="title">
        <app-logo></app-logo>
        <span class="greeting">
          BUENAS NOCHES
        </span>
        <md-input-container>
          <span md-prefix>
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input mdInput placeholder="¿Qué buscas? :)" />
        </md-input-container>
      </div>
      </div>
      <div>


      <div class="social">
        <share-buttons url="http://calvillo.com.mx"
                       [reddit]="false"
                       [linkedIn]="false"
                       [stumbleUpOn]="false"
                       [tumblr]="false"
                       [whatsApp]="false"
        ></share-buttons>
      </div>
    </div>
  </section>
  <section class="second parallax-group">
    <div class="parallax-layer back">
      <div class="background2"></div>
    </div>
    <div class="parallax-layer fore">
      <h1>
        <span>Maravillas en fotografías</span>
      </h1>
      <div class="options">
        <span>
          Galeria
        </span>
        <span>
          Populares
        </span>
      </div>
      <ng2-adsense *ngIf="adSenseEnabled"></ng2-adsense>
      <ul *ngIf="categories">
        <li *ngFor="let category of categories" [routerLink]="category.routerLink">
          <picture [ngStyle]="{'background-image':  'url(' + category.imageUrl('xlg') + ')'}">
          </picture>
          <span>{{category.title}}</span>
        </li>
      </ul>
      <div class="bottom">

      </div>
    </div>
  </section>
  <section class="third parallax-group">
    <div class="parallax-layer back">
      <div class="background3"></div>
    </div>
    <div class="parallax-layer fore">
    </div>
  </section>
</div>
