<section>
  <div class="title">
    <h1>
      Calvillo.com.mx
    </h1>
    <span>
      Capital de la guayaba, cuna del deshilado
    </span>
  </div>
  <div class="images">
    <ul *ngIf="category">
      <li *ngFor="let subcategory of category.categories">
        <app-category-thumbnail [category]="subcategory"></app-category-thumbnail>
      </li>
    </ul>
  </div>

  <div class="button">
    <button>
      ¡Suscríbete!
    </button>
  </div>

  <div class="social">
    <share-buttons [url]="'http://calvillo.com.mx'"
                   [showCount]="true"
    ></share-buttons>
  </div>
</section>
