@import 'src/app/vars';

:host ::ng-deep .cal-event-action {
  color: white;
}

picture {
  width: 1em;
  height: 1em;
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

mat-card {
  font-size: .75em;

  @media (min-width: $smScreen) {
    font-size: 1em;
  }
}
