<app-activity-status-indicator [failed]="failed" [loading]="loading">
</app-activity-status-indicator>
<GridLayout rows="auto, auto,  *, auto" columns="*" class="container">
  <RadListView row="0" col="0"
               #categoriesList
               class="categories"
               [items]="categories">
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"
                          itemInsertAnimation="Default"
                          itemDeleteAnimation="Default"></ListViewLinearLayout>
    <ng-template tkListItemTemplate let-category="item" let-i="index">
      <FlexboxLayout (tap)="selectCategory(category)" [class.active]="index === i"
                     class="item list-group-item">
        <WebImage *ngIf="category.image_code" stretch="aspectFill"
                  placeholder="~/assets/images/Spinner-1s-200px.gif"
                  [src]="category.imageUrl('xs')">
        </WebImage>
        <Label [text]="category.title"></Label>
      </FlexboxLayout>
    </ng-template>
  </RadListView>

  <StackLayout *ngIf="selectedCategory"
               row="1" col="0"
               class="selected-category">
    <FlexboxLayout orientation="horizontal" class="category">
      <Label class="fa back" [text]="'fa-chevron-circle-left' | fonticon"
             (tap)="unSelect()" target="_blank">
      </Label>
      <WebImage *ngIf="selectedCategory.image_code" stretch="aspectFill"
                placeholder="~/assets/images/Spinner-1s-200px.gif"
                [src]="selectedCategory.imageUrl('xs')">
      </WebImage>
      <Label [text]="selectedCategory.title"></Label>

      <Label class="spacer"></Label>
      <Label class="fa top-toggle"
             (tap)="toggleTop()"
             [text]="(topExpanded ? 'fa-angle-up' : 'fa-angle-down') | fonticon">
      </Label>
    </FlexboxLayout>

    <RadListView class="directories"
                 #directoriesList
                 [items]="directoriesWithLocation">
      <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"
                            itemInsertAnimation="Default"
                            itemDeleteAnimation="Default"></ListViewLinearLayout>
      <ng-template tkListItemTemplate let-directory="item" let-i="index">
        <FlexboxLayout (tap)="selectDirectory(directory)" [class.active]="index === i"
                       class="item list-group-item">
          <WebImage *ngIf="directory.image_code" stretch="aspectFill"
                    placeholder="~/assets/images/Spinner-1s-200px.gif"
                    [src]="directory.imageUrl('xs')">
          </WebImage>
          <Label [text]="directory.title"></Label>
        </FlexboxLayout>
      </ng-template>
    </RadListView>
  </StackLayout>

  <MapView #mapView
           *ngIf="categories"
           row="2" col="0"
           (markerSelect)="onMarkerSelect($event)"
           (mapReady)="onMapReady($event)"></MapView>

  <StackLayout row="3" col="0" *ngIf="selectedDirectory"
               class="directory-data"
               (swipe)="swipe($event)">
    <FlexboxLayout class="top">
      <Label class="title" [text]="selectedDirectory.title"></Label>
      <Label class="fa info-toggle"
             (tap)="toggle()"
             [text]="(infoExpanded ? 'fa-angle-down' : 'fa-angle-up') | fonticon">
      </Label>
    </FlexboxLayout>
    <ScrollView #scrollData class="scroll-data">
      <app-directory-data [directory]="selectedDirectory"></app-directory-data>
    </ScrollView>
  </StackLayout>

</GridLayout>
