@import "../../../../_vars.scss";


.container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  .categories, .directories{
    FlexboxLayout{
      flex-direction: column;
      align-items: center;
      width: 70;

      WebImage{
        margin: 5;
        width: 50;
        height: 50;

        &.active{
          border-color: $primary;
          border-width: 0 0 2 0;
        }
      }

      Label{
        width: 65;
        font-size: 10;
        text-align: center;
      }
    }

  }

}


.selected-category{
  .category{
    background-color: rgba($primary, .9);
    align-items: center;
    color: white;
    font-weight: bold;

    .back{
      font-size: 35;
      padding: 5;
      margin: 5;
      color: white;
    }

    WebImage{
      margin: 5;
      width: 40;
      height: 40;
    }

    .spacer{
      flex: 1;
    }

    .top-toggle{
      margin: 10;
      font-size: 35;
      margin-left: 20;
    }
  }
}

MapView{
  flex: 1;
}

.directory-data{
  .top{
    align-items: center;
    padding: 0 10;
    .title{
      flex: 1;
      font-size: 20;
    }

    .info-toggle{
      margin: 10;
      font-size: 35;
    }
  }

  .scroll-data{
    height: 200;
  }
}
