<GridLayout rows="auto, auto,  *, auto" columns="*" class="container">
  <RadListView row="0" col="0" class="directories"
               *ngIf="!selectedCategory"
               [items]="categories">
    <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"
                          itemInsertAnimation="Default"
                          itemDeleteAnimation="Default"></ListViewLinearLayout>
    <ng-template tkListItemTemplate let-category="item" let-i="index">
      <FlexboxLayout (tap)="select(category)" [class.active]="index === i"
                     class="item list-group-item">
        <WebImage *ngIf="category.image_code" stretch="aspectFill"
                  placeholder="~/assets/images/Spinner-1s-200px.gif"
                  [src]="category.imageUrl('xs')">
        </WebImage>
      </FlexboxLayout>
    </ng-template>
  </RadListView>
  <StackLayout *ngIf="selectedCategory" class="selected-category">
    <FlexboxLayout orientation="horizontal" class="category">
      <Label class="fa back" [text]="'fa-chevron-circle-left' | fonticon"
             (tap)="unSelect()" target="_blank">
      </Label>
      <WebImage *ngIf="selectedCategory.image_code" stretch="aspectFill"
                placeholder="~/assets/images/Spinner-1s-200px.gif"
                [src]="selectedCategory.imageUrl('xs')">
      </WebImage>
      <Label [text]="selectedCategory.title"></Label>
    </FlexboxLayout>
    <RadListView row="1" col="0" class="directories"
                 [items]="selectedCategory?.directories">
      <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"
                            itemInsertAnimation="Default"
                            itemDeleteAnimation="Default"></ListViewLinearLayout>
      <ng-template tkListItemTemplate let-directory="item" let-i="index">
        <FlexboxLayout (tap)="selectDirectory(directory)" [class.active]="index === i"
                       class="item list-group-item">
          <WebImage *ngIf="directory.image_code" stretch="aspectFill"
                    placeholder="~/assets/images/Spinner-1s-200px.gif"
                    [src]="directory.imageUrl('xs')">
          </WebImage>
        </FlexboxLayout>
      </ng-template>
    </RadListView>
  </StackLayout>

  <MapView #mapView
           *ngIf="categories"
           row="2" col="0"
           (markerSelect)="onMarkerSelect($event)"
           (mapReady)="onMapReady($event)"></MapView>
  <ScrollView row="3" col="0"
              *ngIf="selectedDirectory"
              class="directory-data">
    <app-directory-data [directory]="selectedDirectory"></app-directory-data>
  </ScrollView>
</GridLayout>
