<h4 mat-dialog-title>
  Iniciar Sesión
</h4>
<button class="corner" tabindex="-1" mat-dialog-close >
  <span aria-hidden="true">&times;</span>
</button>
<mat-dialog-content>
  <form id="login-modal-form" (submit)="login()">
    <mat-input-container>
      <input matInput
             [(ngModel)]="email"
             name="email"
             placeholder="Email"  >
    </mat-input-container>
    <mat-input-container>
      <input matInput
             [(ngModel)]="password"
             name="password"
             placeholder="Contraseña" type="password" >
    </mat-input-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button form="login-modal-form">Entrar</button>
</mat-dialog-actions>
