<h4 md-dialog-title>
  Iniciar Sesión
</h4>
<button class="corner" tabindex="-1" md-dialog-close >
  <span aria-hidden="true">&times;</span>
</button>
<md-dialog-content>
  <form id="login-modal-form" (submit)="login()">
    <md-input-container>
      <input mdInput
             [(ngModel)]="email"
             name="email"
             placeholder="Email"  >
    </md-input-container>
    <md-input-container>
      <input mdInput
             [(ngModel)]="password"
             name="password"
             placeholder="Contraseña" type="password" >
    </md-input-container>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button form="login-modal-form">Entrar</button>
</md-dialog-actions>
