@import 'src/app/vars';
@import "~@ngx-share/button/styles/variables";
@import '~@ngx-share/button/styles/share-buttons';
@import "~@ngx-share/button/styles/themes/circles/circles-dark-theme";

.sb-landing {
  @extend .sb-circles-dark;

  &.sb-group {
    /** ... share buttons container */
  }
  .sb-wrapper { /** ... share button wrapper */
    .sb-inner { /** ... inner wrapper */
      .sb-content { /** ... content wrapper */
        margin-right: .5em;
        .sb-icon {
          background-color: transparent;
          background: transparent;
          border: solid #EEE 2px;
          width: 1.7em;
          height: 1.7em;
          min-width: 1.7em;
        }
        .sb-text { /** ... text wrapper */
        }
      }
      .sb-count { /** ... count wrapper */
      }
    }

    // For conditional styles
    &.sb-show-icon.sb-show-text.sb-show-count {
      /** ... Apply when icon, text and count are shown */
      .sb-icon { /** ... icon wrapper */
      }
      .sb-text { /** ... text wrapper */
      }
    }
  }

}
