@import "~app/vars";
@import '~ngx-sharebuttons/styles/variables';

$sb-buttons: (
        facebook: #488aff,
        twitter: #32db64,
        google: #f53d3d,
        stumble: #f4f4f4,
        linkedin: $sb-linkedin,
        pinterest: $sb-pinterest,
        reddit: $sb-reddit,
        tumblr: $sb-tumblr,
        whatsapp: $sb-whatsapp,
        telegram: $sb-telegram,
        email: $sb-email,
        vk: $sb-vk,
        more: $sb-more,
        copy: $sb-copy,
        print: $sb-print
);

@import '~ngx-sharebuttons/styles/share-buttons';
@import '~ngx-sharebuttons/styles/themes/circles/circles-theme';

