@import "../node_modules/font-face-mixin/_fontface.scss";
@import "~app/vars";


@include font-face(QuickSand,
  "~connect-fonts-quicksand/fonts/latin/quicksand-regular",
  normal, normal, eot woff ttf svg);

@include font-face(QuickSand,
  "~connect-fonts-quicksand/fonts/latin/quicksand-bold",
  bold, normal, eot woff ttf svg);


body{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.picker-modal{
  position: static !important;
}

.picker-modal-main{
  height: auto !important;
}

simple-notifications{
  .simple-notification-wrapper{
    z-index: 1100; // To be up to the modals
  }
}



@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}


.corner[md-dialog-close]{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  background-color: transparent;
}




/* Parallax base styles
--------------------------------------------- */
.parallax {
  height: $contentHeight;
  overflow-x: hidden;
  perspective: 300px;
  perspective-origin-x: 100%;
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin-x: 100%;


  &.fore {
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  &.base {
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  &.deep {
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }
}

.sb-buttons {
  justify-content: center;
  margin: 0;
}

[md-dialog-title]{
  position: relative;
}

[md-dialog-close].button-close{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: .25em;
  background: none;
  border: 0;
  font-size: 1em;
  color: gray;
}
