<!--
<a [routerLink]="'/galeria/' + category_id + '/directory/' + directory.id">
-->
<picture>
  <img src="{{directory.imageUrl('sm')}}"/>
</picture>
<header>
  <span>{{directory.title}}</span>
</header>
<div class="content"
     *ngIf="expanded"
     [@directory]="'active'">
  <header>
    <span>{{directory.title}}</span>
  </header>
  <div [innerHTML]="directory.description"><</div>

  <table>
    <tr *ngIf="directory.address.length">
      <th>Dirección</th>
      <td>{{directory.address}}</td>
    </tr>
    <tr *ngIf="directory.email.length">
      <th>Email</th>
      <td>{{directory.email}}</td>
    </tr>
    <tr *ngIf="directory.phone.length">
      <th>Teléfono</th>
      <td>{{directory.phone}}</td>
    </tr>
    <tr *ngIf="directory.cellphone.length">
      <th>Celular</th>
      <td>{{directory.cellphone}}</td>
    </tr>
    <tr *ngIf="directory.website_url.length">
      <th>Sitio web</th>
      <td>
        <a [href]="directory.website_url" target="_blank">
          {{directory.website_url}}
        </a>
      </td>
    </tr>
  </table>
  <div class="buttons">
    <a class="map"
     *ngIf="directory.longitude && directory.latitude"
     (click)="openMapModal()">
      <i class="fa fa-map-marker"></i>
    </a>
    <a class="facebook"
       *ngIf="directory.facebook_url.length"
       [href]="directory.facebook_url" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a class="youtube"
       *ngIf="directory.youtube_url.length"
       [href]="directory.youtube_url" target="_blank">
      <i class="fa fa-youtube"></i>
    </a>
  </div>
</div>
<app-place-on-map-modal
  [latitude]="directory.latitude"
  [longitude]="directory.longitude"
  [title]="directory.title">
</app-place-on-map-modal>
