@import 'src/app/vars';

:host {
  display: flex;
  max-width: 25em;
  margin: .5em .25em;
  flex-direction: column;
  width: 100vw;
  background-color: $thumbnail-label-background-color;
  color: white;

  @extend .nice-hover-shadow;

  header {
    display: flex;
    flex-direction: row;

    /deep/ app-image {
      background-color: white;
      picture {
        width: 5em;
        height: 5em;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 0;
      h4 {
        padding: .5em;
        margin: 0;
        flex: 1 0 auto;

        @extend .thumb-text-style;
      }
    }
  }

  &.expanded {
    padding: .5em;
    flex: 1 1 0;
    overflow: hidden;
    color: white;

    &:hover {
      background-color: $thumbnail-label-background-color;
    }

    .content {
      text-align: left;
      display: flex;
      flex-direction: column;
      font-size: 1em;

    }
  }
}

:host(.simple) {
  background-color: transparent;
  color: black;
  margin: 0px;
  padding: 0px;
  width: auto;

  header {
    flex-direction: column;
    align-items: center;
    height: auto;

    > picture {
      order: 1;
      flex: 0 0 auto;
      img {
        height: 8em;
      }
    }
    > div {
      flex: 0 0 auto;
      > h4 {
        color: black;
        order: -1;
        font-size: 1.5em;
      }
    }
  }

  &:hover {
    background-color: transparent;
    box-shadow: none;
  }
}
