@import "src/app/vars";

:host {
  display: flex;
  max-width: 25em;
  margin: .5em .25em;
  flex-direction: column;
  width: 100vw;
  background-color: $thumbnail-label-background-color;
  color: white;

  @extend .nice-hover-shadow;

  header{
    display: flex;
    flex-direction: row;
    > picture img {
      transition: all .5s;
      height: 3em;

      @media (min-width: $smScreen) {
        height: 5em;
      }
    }

    > div{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 0;
      h4{
        padding: .5em;
        margin: 0;
        flex: 1 0 auto;

        @extend .thumb-text-style;
      }
    }
  }

  &.expanded{
    padding: .5em;
    flex: 1 1 0;
    overflow: hidden;
    color: white;

    &:hover{
      background-color: $thumbnail-label-background-color;
    }

    .content{
      text-align: left;
      display: flex;
      flex-direction: column;
      font-size: 1em;

      header{
        font-weight: bolder;
        font-size: 1.25em;
        text-align: center;
        line-height: 1em;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-start;

        li{
          display: flex;
          flex-direction: column;
          margin-bottom: .5em;
          margin-right: .5em;

          h5{
            margin: 0;
            margin-left: 1em;
            font-size: 1em;
          }

          span{
            font-size: 1em;
          }

          a{
            color: lighten($primaryColor, 25%);
            font-weight: bolder;
          }
        }
      }

    }
  }
}

.buttons{
  display: flex;
  justify-content: flex-end;
}

.social {
  display: inline-block;
  color: white;
  border-radius: .2em;
  padding: .2em;
  width: 1.25em;
  text-align: center;
  cursor: pointer;
  margin: 0.2em;
  font-size: 1.5em;

  @media (min-width: $smScreen) {
    font-size: 2em;
  }
}

.facebook{
  @extend .social;
  background-color: $fb-color;
}

.youtube{
  @extend .social;

  background-color: $youtube-color;
}

.map{
  @extend .social;

  background-color: dimgray;
  i {
    color: white;
  }
}
