@import "src/app/vars";

:host {
  display: flex;
  max-width: 700px;
  margin: .5em .25em;

  flex-direction: column;
  @media (min-width: $smScreen) {
    flex-direction: row;
  }

  &:not(.expanded) {
    > picture img {
      transition: all .5s;
      height: 8em;

      @media (min-width: $smScreen) {
        height: 10em;
      }
    }

    header {
      @extend .thumbnail-label;
    }

    &:hover {
      > picture img {
        transform: scale(1.75, 1.75) translate(0, 5%);
      }
      > div {
        opacity: 0;
      }
    }

    .content{
      display: none;
    }

  }

  &.expanded{
    padding: .5em;
    background-color: $thumbnail-label-background-color;
    max-width: 600px;
    flex: 1 1 0;
    align-items: stretch;
    overflow: hidden;

    picture{
      flex: 1 0 0;
      align-self: center;
      padding: .5em;
      height: 15em;

      @media (min-width: $smScreen) {
        flex: 1 0 10em;
        height: 10em;
      }

      img{
        width: 100%;
      }
    }

    >header{
      display: none;
    }

    .content{
      text-align: left;
      display: flex;
      flex-direction: column;

      header{
        font-weight: bolder;
        font-size: 1.25em;
        text-align: center;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-start;

        li{
          display: flex;
          flex-direction: column;
          margin-bottom: .5em;
          margin-right: .5em;

          h5{
            margin: 0;
            margin-left: 1em;
          }
        }
      }

    }
  }
}

.buttons{
  display: flex;

}

.social {
  display: inline-block;
  color: white;
  border-radius: .2em;
  font-size: 2em;
  padding: .2em;
  width: 1.25em;
  text-align: center;
  cursor: pointer;
  margin: 0.2em;
}

.facebook{
  @extend .social;
  background-color: $fb-color;
}

.youtube{
  @extend .social;

  background-color: $youtube-color;
}

.map{
  @extend .social;

  background-color: dimgray;
  i {
    color: white;
  }
}
