<h3>
  <i class="fa fa-camera" aria-hidden="true"></i>
  Fotografías
  <span *appIfLogged="true"
        class="add-button"
        (click)="openDialog()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </span>
</h3>
<ul>
  <li *ngFor="let picture of pictures"
      (click)="loadPicture(picture.id)">
    <app-picture-thumbnail [category_id]="category_id" [picture]="picture"></app-picture-thumbnail>
    <button *appIfLogged="true" md-mini-fab class="remove"
            (click)="removePicture(picture)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button *appIfLogged="true" md-mini-fab class="edit"
            (click)="editPicture($event, picture)">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </li>
</ul>

<ng-container *appIfLogged="true">
  <h3>
    Fotografías eliminadas
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </h3>
  <ul>
    <li *ngFor="let picture of deleted_pictures">
      <app-picture-thumbnail [category_id]="category_id" [picture]="picture"></app-picture-thumbnail>
      <button  md-mini-fab class="remove"
               (click)="deletePicture(picture)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <button  md-mini-fab class="restore"
               (click)="restorePicture(picture)">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</ng-container>
