<h3>
  <span>
     <i class="fa fa-camera" aria-hidden="true"></i>
    Fotografías
    <span *appIfLogged="true"
          class="add-button"
          (click)="openDialog()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </span>
  </span>
</h3>
<ul>
  <li>
    <app-ad-thumb></app-ad-thumb>
  </li>
  <li *ngFor="let picture of pictures"
      (click)="loadPicture(picture.link)">
    <app-picture-thumbnail [category]="category" [picture]="picture"></app-picture-thumbnail>
    <button *appIfLogged="true" mat-mini-fab class="remove"
            (click)="removePicture(picture)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button *appIfLogged="true" mat-mini-fab class="edit"
            (click)="editPicture($event, picture)">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
  </li>
</ul>

<ng-container *appIfLogged="true">
  <h3>
    Fotografías eliminadas
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </h3>
  <ul>
    <li *ngFor="let picture of deleted_pictures">
      <app-picture-thumbnail [category]="category" [picture]="picture"></app-picture-thumbnail>
      <button  mat-mini-fab class="remove"
               (click)="deletePicture(picture)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <button  mat-mini-fab class="restore"
               (click)="restorePicture(picture)">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</ng-container>
