@import "../../../../_vars.scss";

.info{
  padding: 5;

  .field-with-icon{
    vertical-align: center;

    .phone{
      color: $thumbnail-label-background-color;
    }
  }

  StackLayout.field{
    Label{
      padding-left: 20;
      font-weight: bold;
      font-size: 15;
      z-index: 10;
    }

    TextView{
      flex: 1;
      background-color: white;
      font-size: 15;
      text-align: left;
      // line-height: 15;
     // margin-top: -10;
    }

    .link{
      text-decoration: underline;
    }
  }
}


.buttons{
  horizontal-align: right;

  .youtube{
    background-color: $youtube-color;
  }

  .facebook{
    background-color: $fb-color;
  }
}

.fa{
  font-size: 25;
  padding: 10;
  color: white;
  border-radius: 10;
  margin-left: 5;
  margin-right: 5;
  width: 45;
  height: 45;
  text-align: center;
}
