<StackLayout class="info">
  <StackLayout class="field-with-icon" orientation="horizontal"
               *ngIf="directory.address?.length">
    <Label class="fa phone" [text]="'fa-location-arrow' | fonticon">
    </Label>

    <StackLayout class="field">
      <Label class="label" text="Dirección"></Label>
      <TextView editable="false"
                [text]="directory.address"></TextView>
    </StackLayout>
  </StackLayout>

  <StackLayout class="field-with-icon" orientation="horizontal"
               *ngIf="directory.schedule?.length">
    <Label class="fa phone" [text]="'fa-clock-o' | fonticon">
    </Label>

    <StackLayout class="field">
      <Label class="label" text="Horario"></Label>
      <TextView editable="false"
                [text]="directory.schedule"></TextView>
    </StackLayout>
  </StackLayout>

  <StackLayout class="field-with-icon" *ngIf="directory.phone?.length"
               orientation="horizontal">
    <Label class="fa phone" [text]="'fa-phone' | fonticon"
           (tap)="dial(directory.phone)">
    </Label>

    <StackLayout class="field">
      <Label class="label" text="Teléfono" (tap)="dial(directory.phone)"></Label>
      <TextView editable="false"(tap)="dial(directory.phone)"
                android:includeFontPadding="false"
                android:lineSpacingExtra="0dp"
                [text]="directory.phone"></TextView>
    </StackLayout>
  </StackLayout>


  <StackLayout class="field-with-icon"
               *ngIf="directory.cellphone?.length"
               orientation="horizontal">

    <Label class="fa phone"
           [text]="'fa-mobile' | fonticon"
           (tap)="dial(directory.cellphone)">
    </Label>

    <StackLayout class="field">
      <Label class="label"
             (tap)="dial(directory.cellphone)"
             text="Celular"></Label>
      <TextView editable="false"
                (tap)="dial(directory.cellphone)"
                [text]="directory.cellphone"></TextView>
    </StackLayout>
  </StackLayout>


  <StackLayout class="field-with-icon"
               *ngIf="directory.website_url?.length"
               orientation="horizontal">

    <Label class="fa phone" [text]="'fa-globe' | fonticon"
           (tap)="openUrl(directory.website_url)">
    </Label>

    <StackLayout class="field">
      <Label class="label"
             (tap)="openUrl(directory.website_url)"
             text="Sitio web"></Label>
      <TextView class="link" editable="false"
                [text]="directory.website_url"
                (tap)="openUrl(directory.website_url)"></TextView>
    </StackLayout>
  </StackLayout>

  <StackLayout class="field-with-icon"
               *ngIf="directory.email?.length"
               orientation="horizontal">

    <Label class="fa phone" [text]="'fa-envelope' | fonticon"
           (tap)="openUrl('mailto:' + directory.email)">
    </Label>

    <StackLayout class="field">
      <Label class="label" text="Email"
             (tap)="openUrl('mailto:' + directory.email)"></Label>
      <TextView class="link" editable="false"
                [text]="directory.email"
                (tap)="openUrl('mailto:' + directory.email)"></TextView>
    </StackLayout>
  </StackLayout>

  <StackLayout class="buttons" orientation="horizontal">
    <Label class="fa facebook" [text]="'fa-facebook' | fonticon"
           *ngIf="directory.facebook_url?.length"
           (tap)="openUrl(directory.facebook_url)">
    </Label>

    <Label class="fa youtube" [text]="'fa-youtube-play' | fonticon"
           *ngIf="directory.youtube_url?.length"
           (tap)="openUrl(directory.youtube_url)">
    </Label>

    <Label class="fa twitter" [text]="'fa-twitter' | fonticon"
           *ngIf="directory.twitter_url?.length"
           (tap)="openUrl(directory.twitter_url)">
    </Label>
  </StackLayout>

  <HtmlView [html]="directory.description"></HtmlView>

  <WebImage *ngIf="showImage && directory.image_code" stretch="aspectFit"
            [src]="directory.imageUrl('sm')" ></WebImage>
</StackLayout>
