<StackLayout class="info">
  <StackLayout class="field"
               *ngIf="directory.address && directory.address.length">
    <Label class="label" text="Dirección"></Label>
    <TextView editable="false"
              [text]="directory.address"></TextView>
  </StackLayout>

  <StackLayout class="field"
               *ngIf="directory.phone && directory.phone.length">
    <Label class="label" text="Teléfono"></Label>
    <TextView editable="false"
              [text]="directory.phone"></TextView>
  </StackLayout>

  <StackLayout class="field"
               *ngIf="directory.cellphone && directory.cellphone.length">
    <Label class="label" text="Celular"></Label>
    <TextView editable="false"
              [text]="directory.cellphone"></TextView>
  </StackLayout>

  <StackLayout class="field"
               *ngIf="directory.website_url && directory.website_url.length">
    <Label class="far"  [text]="'far-3d-rotation' | fonticon"></Label>

    <Label class="label" text="Sitio web"></Label>
    <TextView class="link" editable="false"
              [text]="directory.website_url" (tap)="openUrl(directory.website_url)"></TextView>
  </StackLayout>

  <StackLayout class="field"
               *ngIf="directory.email && directory.email.length">
    <Label class="label" text="Email"></Label>
    <TextView class="link" editable="false"
              [text]="directory.email"
              (tap)="openUrl('mailto:' + directory.email)"></TextView>
  </StackLayout>

  <StackLayout class="buttons" orientation="horizontal">
    <Label class="fa facebook" [text]="'fa-facebook' | fonticon"
           *ngIf="directory.facebook_url && directory.facebook_url.length"
           (tap)="openUrl(directory.facebook_url)" target="_blank">
    </Label>

    <Label class="fa youtube" [text]="'fa-youtube' | fonticon"
           *ngIf="directory.youtube_url && directory.youtube_url.length"
           (tap)="openUrl(directory.youtube_url)" target="_blank">
    </Label>
  </StackLayout>

  <HtmlView [html]="directory.description"></HtmlView>
</StackLayout>
